/* ======== Globals ======== */
* {margin: 0; box-sizing: border-box; transition: .3s all ease-in-out;}

h1 {font-family: 'Alegreya', serif;}

h2, h3, h4, h5, h6, p, a {color: #686868;}

h2, h3, h4, h5, h6 {font-family: Alegreya, sans-serif; font-weight: 100}

p {font-size: 17px;line-height: 1.86em;font-family: Alegreya Sans}

h1 {font-size: 76px;font-weight: 100}

h2 {font-size: 32px;}

h3 {font-size: 30px;}

h4 {font-size: 22px;}

a {text-decoration: none;}

a:hover {color: #8e7754;}

body::-webkit-scrollbar {width: 5px;}

body::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);}

body::-webkit-scrollbar-thumb {background-color: #8e7754;border-radius: 5px;}

.container {width: 1170px;margin: 0 auto; padding: 0 15px;}

.text-center {text-align: center;}

.w-25 {width: 25%; padding: 10px;}

.w-30 {width: 33.33333333333333%; padding: 10px;}

.w-40 {width: 40%; padding: 10px;}

.w-45 {width: 45%; padding: 10px;}

.w-50 {width: 50%; padding: 10px;}

.w-55 {width: 55%; padding: 10px;}

.w-60 {width: 60%; padding: 10px;}

.w-70 {width: 70%; padding: 10px;}

.w-75 {width: 75%; padding: 10px;}

.w-100 {width: 100%;}

.fl-container {overflow: auto;box-sizing: border-box;}

.fl-left {float: left;}

.fl-right {float: right;}

.clr {clear: both;}

.section-padding {padding: 90px 0 60px 0;}

.ul-reset {list-style: none;padding: 0;}

.bg-brown-dark {background-color: #353330;}

.bg-brown-light {background-color: #403d38;}

.bg-brown-lighter {background-color: #8e7754;}

.bg-gray {background-color: #f8f8f8;}

.icon-brown {color: #8e7754}

.btn {
    display: inline-block;
    font-family: 'Alegreya Sans', sans-serif;
    background-color: transparent;
    outline: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 15px 28px;
    font-size: 16px;
    line-height: 1.3rem;
    border: 2px solid;
    color: #FFF;
    font-weight: bold;
    margin: 5px 5px 10px;
}

.btn:hover {background-color: #FFF;color: #222;}

.btn-default {background-color: transparent;border-color: #FFF;}

.btn-brown {background-color: #8e7754; border-color: #8e7754;}


/* ======== Start of Intro ======== */
.intro {
    background-image: url("./../img/drew-coffman-1872.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.intro .overlay {
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
}

.intro .overlay .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    z-index: 10;
}

.intro .overlay .nav-bar.nav-white {
    background-color: #FFF;
    box-shadow: 0 1px 7px 0 rgba(144, 135, 135, 0.2);
}

.intro .overlay .nav-bar.nav-white .menu .menu-item a {
    color: #333333;
    padding: 15px;
}

.intro .overlay .nav-bar.nav-white .logo a {
    padding: 0px 15px;
}

.intro .overlay .nav-bar .logo a {
    display: inline-block;
    padding: 15px 15px;
}

.intro .overlay .nav-bar .logo a img {
    width: 170px;
}

.intro .overlay .nav-bar .menu {
    overflow: auto;
}

.intro .overlay .nav-bar .menu .menu-item {
    position: relative;
    float: left;
}

.intro .overlay .nav-bar .menu .menu-item.active {
    color: #8e7754;
}

.intro .overlay .nav-bar .menu .menu-item.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #8e7754;
}

.intro .overlay .nav-bar .menu .menu-item a {
    font-family: Alegreya, sans-serif;
    display: inline-block;
    padding: 30px 15px;
    color: #FFF;
    font-size: 18px;
}

.intro .overlay .nav-bar .menu .menu-item a:hover {
    color: #8e7754;
}

.intro .overlay .intro-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro .overlay .intro-slider .intro-text {
    color: rgba(255, 255, 255, .92);
    margin-bottom: 40px;
}

.intro .overlay .intro-slider .intro-text h1 {
    color: rgba(255, 255, 255, .92);
}

.intro .overlay .intro-slider .intro-text p {
    color: rgba(255, 255, 255, .92);
}

.intro .overlay .intro-slider .intro-text p:first-of-type {
    font-size: 22px;
    line-height: 1;
}

.intro .overlay .intro-slider .intro-text p:last-of-type {
    font-size: 24px;
}

.intro .overlay .intro-slider .cursor-parent {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 25px);
    right: calc(50% - 25px);
}

.intro .overlay .intro-slider .cursor {
    position: relative;
    height: 55px;
    width: 35px;
    border: 2px solid rgba(255, 255, 255, .92);
    border-radius: 17.5px;
    margin: 0 auto;
    cursor: pointer;
}


.intro .overlay .intro-slider .cursor span {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, .92);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: calc(50% - 4px);
    animation: scroller 1.5s ease-in-out forwards infinite;
}

@keyframes scroller {
    0% {
        top: 8px;
        opacity: .5;
    }
    100% {
        top: 30px;
        opacity: 0;
    }
}

/* ======== Start of About Us ======== */
.about .about-text {
    padding: 40px 25px 0;
}

.about .about-text h2 {
    margin-bottom: 20px;
}

.about .about-text p {
    margin-bottom: 25px;
}

.about .about-text ul li {
    margin-bottom: 15px;
    color: #686868;
}

.about .about-text ul li i {
    font-size: 20px;
    border: 1px solid rgba(104, 104, 104, 0.25);
    padding: 10px;
    border-radius: 50%;
    margin-right: 7px;
}

/* ======== Start of Our locations ======== */
.location .location-text {
    padding: 40px 40px 0 0;
}

.location .location-text h2 {
    margin-bottom: 20px;
}

.location .location-text p {
    margin-bottom: 20px;
}

/* ======== Start of Our Baking ======== */
.baking .baking-header h3 {
    margin-bottom: 10px;
}

.baking .baking-header p {
    margin-bottom: 25px;
}

.baking .products .product-item {
    padding: 5px;
}

.baking .products .product-item h4 {
    margin: 20px 0;
}

/* ======== Start of Contact Us ======== */
.contact ul li {
    margin-bottom: 15px;
    color: #686868;
    font-family: 'Alegreya Sans', sans-serif;
}

.contact ul li i {
    box-sizing: content-box;
    display: inline-block;
    background: #8e7754;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    border-radius: 50%;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    line-height: 1.2;
}

.contact h2 {
    margin-bottom: 25px;
}

.contact p {
    margin-bottom: 25px;
}

/* ======== Start of Footer ======== */
.footer .footer-top {
    padding: 50px 0;
}

.footer .footer-top .footer-slot h4 {
    font-size: 17px;
    color: #FFF;
    margin-bottom: 25px;
}

.footer .footer-top .footer-slot p {
    font-size: 16px;
    margin-bottom: 15px;
    color: #969696;
}

.footer .footer-top .footer-slot ul li {
    position: relative;
    font-size: 16px;
    color: #969696;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(150, 150, 150, .2);
    font-family: 'Alegreya Sans', sans-serif;
}

.footer .footer-top .footer-slot ul li i {
    margin-right: 10px;
}

.footer .footer-top .footer-slot a {
    color: #969696;
}

.footer .footer-top .footer-slot.map ul {
    position: relative;
}

.footer .footer-top .footer-slot.map ul:before {
    position: absolute;
    content: "";
    background-image: url("./../img/contact-details-map.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.footer .footer-bottom {
    padding: 50px 20px;
}

.footer .footer-bottom .copyrights {
    padding: 15px 0;
}

.footer .footer-bottom .footer-social {
    text-align: center;
}

.footer .footer-bottom .footer-social li {
    display: inline-block;
}

.footer .footer-bottom .footer-social li i {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #403d38;
    border-radius: 50%;
    line-height: 2;
    margin: 2.5px;
    color: #969696;
}

.footer .footer-bottom .footer-social li a.fb:hover i {
    background-color: #3b5998;
    color: #FFF;
}

.footer .footer-bottom .footer-social li a.g:hover i {
    background-color: #dd4b39;
    color: #FFF;
}

.footer .footer-bottom .footer-social li a.in:hover i {
    background-color: #007bb5;
    color: #FFF;
}

.footer .footer-bottom .footer-social li a.tw:hover i {
    background-color: #00aced;
    color: #FFF;
}

.footer .footer-bottom .scrollToTop {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.footer .footer-bottom .scrollToTop i {
    box-sizing: content-box;
    font-size: 25px;
    border: 1px solid #EEE;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 1.3;
    background-color: #FEFEFE;
    box-shadow: 0 0 5px 0 #414040;
}

/* ======== Start of Media query ======== */
@media (max-width: 1200px) {
    .container {width: auto; max-width: 1170px}
}